.table-container {
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: visible;
  margin-left: 1rem;
  margin-right: 1rem;
}

table.LLMTable {
  border: 2px solid #65B697;
  background-color: #EFECAE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table.LLMTable td,
table.LLMTable th {
  padding: 3px 2px;
}

table.LLMTable tbody td {
  font-size: 13px;
}

table.LLMTable tr:nth-child(even) {
  background: #C9D880;
}

table.LLMTable thead {
  background: #65B697;
}

table.LLMTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

table.LLMTable thead th:first-child {
  border-left: none;
}

table.LLMTable tfoot td {
  font-size: 13px;
}

table.LLMTable tfoot .links {
  text-align: right;
}

table.LLMTable tfoot .links a {
  display: inline-block;
  background: #FFFFFF;
  color: #A40808;
  padding: 2px 8px;
  border-radius: 5px;
}